*{
    margin: 12px;
    padding: 5px;
}

body{
   justify-content: center;
   align-items: center;
   margin: auto;
   background: #e3e4e5;

}

#container {
   width: 100vh;
   margin: auto; 
   text-align: center;
}

#container img {
    width: 400px;
    height: 250px;
}

.resultado{
    background: rosybrown;
}

#container p{
  font-size:30px;
  color: rosybrown;
}

.inp{
    justify-content: center;
}


.btn:link, .btn:visited {
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #e3e4e5;
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.btn-white::after {
    background-color: rosybrown;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 3s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
   }
    100% {
        opacity: 1;
        transform: translateY(0px);
   }
}